.App {
  text-align: center;
}

.Container {
  /* border: 1px solid white; */
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  padding: 15px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: skyblue;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  margin: 10px 5px;
  box-shadow: 0px 0px 5px 0px white;
}
